body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  user-select: none;
}

button {
  padding: 3px 9px;
  display: inline;
}

/* width */
[data-element='CARD'] ::-webkit-scrollbar,
[data-element='hover-preview-oracle-text']::-webkit-scrollbar {
  width: 5px;
}

/* Track */
[data-element='CARD'] ::-webkit-scrollbar-track,
[data-element='hover-preview-oracle-text']::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
[data-element='CARD'] ::-webkit-scrollbar-thumb,
[data-element='hover-preview-oracle-text']::-webkit-scrollbar-thumb {
  background: #414141;
}

/* Handle on hover */
[data-element='CARD'] ::-webkit-scrollbar-thumb:hover,
[data-element='hover-preview-oracle-text']::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}
